<div ng-controller="edittableCtrl">
	Sätt ihop din tabell:
	<div>
		<form name="tableForm" novalidate ng-submit="submit()">
			Skriv in ditt namn: <input id="usernameInput" type="text" name="userName" required ng-model="userName">
		<span ng-show="tableForm.userName.$error.required">*</span>
			<div ng-repeat="team in teams track by $index">
				Lag {{teams.indexOf(team) + 1}}:
				<!-- color.name group by color.shade disable when color.notAnOption for color in colors -->
				<select ng-model="selected"
						ng-options="team.name for team in teams" 
						ng-change="insertTeamAtIndex(selected, {{teams.indexOf(team)}})">
					<option>välj lag</option>
				</select>
			</div>
			<input id="registerBtn" type="submit" value="Bekräfta och skicka tabell" ng-disabled="!formValid" />
		</form>
	</div>
</div>