<div ng-controller="registerCtrl">
<form name="registerForm" novalidate ng-hide="authData">
	E-post<br>
		<input id="emailInput" type="email" name="email" required ng-model="email">
		<span ng-show="loginForm.email.$invalid">*</span>
		<br />
	Lösenord:<br>
		<input id="passwordInput" type="password" name="password" required ng-model="password">
		<span ng-show="loginForm.password.$error.required">*</span>
		<br></br>
	<button class="btn btn-default" type="submit" ng-click="register($event)">Registrera</button>
	<br />
</form> 
</div>