html {
	/*background-color: #D3DFE3;*/
	font-family: "Courier New", monospace;
}

.hejsan{
	width: -webkit-calc(100% / 4);
	width: -moz-calc(100%);
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}

.table-container {
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	display: inline-block;
	
	/*height: 200px;*/
	/*background-color:  #B4D0D9;*/
	color: #202020;
	border-radius: 5px;
	padding: 1%;

}

.top-row {
	text-align: left;
}

.table-row {
	text-align: center;
}

.table-row:hover {
	background-color: #505050;
	box-shadow: 0px 0px 10px #FFFFFF;
	cursor: pointer;
}

.ng-enter {
    transition: 1s;
    opacity: 0;
}

.ng-enter-stagger {
	transition-delay: 0.2s;
}

.ng-enter-active {
    opacity: 1;
}

/*.table-row-odd {
	background-color: #E6EFF2;
}*/

table {
  border-spacing: 0px 1px;
}

/*.table-row-even {
	background-color: #F2F4F5;
}*/

.registerLink:hover {
	cursor: pointer;
	text-shadow: 0px 0px 10px #FFFFFF;
	color: white;
	text-decoration: underline;
	clear: left;
}

/*.table-striped {
	display: block;
}