<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		
		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">	

		<!-- Greensock scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/easing/EasePack.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/utils/Draggable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/plugins/CSSPlugin.min.js"></script>

        <!-- Angular scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-touch.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>

        <!-- Firebase scripts -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

        <!-- Scripts -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/routeprovider.js"></script>
        <script type="text/javascript" src="js/controllers/edittableCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/tablesCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
        <script type="text/javascript" src="js/controllers/uploadTableToFirebase.js"></script>

        <title>Tippa fett</title>
	</head>

	<body ng-app="app" ng-controller="mainCtrl">

		<!-- NAVBAR -->
		<div class="navbar-container">
			<div class="navbar">
				<div class="navbar-text">Tippa fett</div>
				<button type="button" class="btn navbar-btn"ng-click="logout()">Logga ut</button>
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<div class="content-wrapper">
			<div ng-include="'uploadTableToFirebase.html'">

			</div>
		</div>

	</body>
</html>