<div ng-controller="uploadTableToFirebaseCtrl">
	<div>
		<div class="table-container">
			<span>Aktuell tabell:</span>
			<table class="table table-condensed">
				<tr class="top-row">
				    <td></td>
				    <td>Lag</td>
				    <td>Placering</td>
				    <td>Poäng</td>
				</tr>
				<tr ng-repeat="team in teams" class="table-row" ng-class-odd="'table-row-odd'" ng-class-even="'table-row-even'">
				    <td style="text-align:right">{{$index + 1}}</td><!-- 
				     --><td style="text-align:left">

					     <img 	alt="team logo" 
								src="{{getImageSrc(team.$value)}}" 
								style="height:20px;" />
						{{team.$value}}
					</td>

				    <td>{{getRank(team.$value)}}</td>
				    <td>{{getScore(team.$value, $index)}}</td>
				</tr>
				<tr class="bottom-row">
					<td></td>
					<td></td>
					<td></td>
					<td style="text-align:center">{{getTotalScore(otherUser.table)}}</td>
				</tr>
			</table>
		</div>
		<button id="registerBtn" ng-click="fetchTable()">Uppdatera tabell</button>
	</div>
</div>