<div class="centered">
	<form name="$parent.loginForm" novalidate ng-hide="authData">

			<!-- <div class="form-group has-error has-feedback" ng-show="$parent.loginForm.email.$invalid">
			  <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
			  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			  <span id="inputError2Status" class="sr-only">(error)</span>
			</div> -->

			<input 	id="emailInput" 
					type="email" 
					name="email" 
					required 
					ng-model="$parent.email" 
					class="form-control" 
					placeholder="E-post...">

			<span ng-show="loginForm.email.$invalid"></span>

			<br />

			<input 	id="passwordInput" 
					type="password" 
					name="password" 
					required 
					ng-model="$parent.password" 
					class="form-control" 
					placeholder="Lösenord...">

			<span ng-show="loginForm.password.$error.required"></span>

			<br></br>
		<button class="btn login-form-btn" type="submit" ng-click="logIn()">Logga in</button>
		<br />
		<button class="btn login-form-btn" ng-click="goToRegister()">Skapa konto</button>
	</form> 
</div>