.navbar-container {
  display: block;
  margin: 2% 2% 0% 2%; }

.navbar {
  background-color: #66CCFF;
  border-radius: 2em 0em 2em 0em;
  margin: 0px; }

.navbar-text {
  float: left;
  color: #FFFFFF;
  font-size: 2em; }

.navbar-btn {
  height: 3em;
  float: right;
  margin: 2% 2%;
  border-radius: 1em 0em 1em 1em;
  color: #66CCFF;
  background-color: #FFFFFF; }

.navbar-btn:hover {
  height: 3em;
  float: right;
  margin: 2% 2%;
  border-radius: 1em 0em 1em 1em; }

.centered {
  display: table;
  margin: 0 auto; }

.form-control {
  margin-top: 2%;
  margin-bottom: 2%; }

.login-form-btn {
  width: 100%;
  margin: 1% 0% 1% 0%;
  border-radius: 1em 0em 1em 0em;
  border-color: #66CCFF;
  color: #66CCFF;
  background-color: #FFFFFF; }

.login-form-btn:hover {
  width: 100%;
  margin: 1% 0% 1% 0%;
  border-radius: 1em 0em 1em 0em;
  color: #FFFFFF;
  background-color: #66CCFF; }

.tables-wrapper {
  display: block;
  margin: 2% 2% 2% 2%; }

.navbar {
  background-color: #66CCFF;
  border-radius: 2em 0em 2em 0em;
  margin: 0px; }

.table-container {
  float: left;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  min-width: auto; }

.top-row {
  text-align: left;
  color: #FFFFFF;
  background: #66CCFF; }

.table-row {
  text-align: center;
  background-color: #FFFFFF; }

.table-row-odd {
  background: #F1F1F1; }

.table-row:hover {
  background-color: #66CCFF;
  color: #FFFFFF;
  cursor: pointer; }

.bottom-row {
  background-color: #66CCFF;
  color: #FFFFFF; }

.ng-enter {
  transition: 1s;
  opacity: 0; }

.ng-enter-stagger {
  transition-delay: 0.1s; }

.ng-enter-active {
  opacity: 1; }

/*.table-row-odd {
	background-color: #E6EFF2;
}*/
.content-wrapper {
  overflow: auto;
  height: 100%;
  background: #FFFFFF; }

/*# sourceMappingURL=style.css.map */
