<div class="table-container">
	<span ng-show="user !== otherUser.$id">{{otherUser.name}}<span ng-show="otherUser.name.lastIndexOf('s') !== otherUser.name.length - 1">s</span> tabell:</span>
	<span ng-show="user === otherUser.$id">{{otherUser.name}}, detta är din tabell:</span>
	<table class="table">
		<tr class="top-row">
		    <td></td>
		    <td>Lag</td>
		    <td>Placering</td>
		    <td>Poäng</td>
		</tr>
		<tr ng-repeat="team in otherUser.table" class="table-row" ng-class-odd="'table-row-odd'" ng-class-even="'table-row-even'">
		    <td style="text-align:right">{{$index + 1}}</td><!-- 
		     --><td style="text-align:left">

			     <img 	alt="team logo" 
						src="{{getImageSrc(team)}}" 
						style="height:20px;" /><!-- border-radius:50%;background-color:white -->
				{{team}}
			</td>

		    <td>{{getRank(team)}}</td>
		    <td>{{getScore(team, $index)}}</td>
		</tr>
		<tr class="bottom-row">
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align:center">{{getTotalScore(otherUser.table)}}</td>
		</tr>
	</table>
</div>