<div class="table-container">
	{{user}}, detta är din tabell:
	<table>
		<tr class="top-row">
		    <td></td>
		    <td>Lag</td>
		    <td>Placering</td>
		    <td>Poäng</td>
		</tr>
		<tr ng-repeat="team in userTable" class="table-row" ng-class-odd="'table-row-odd'" ng-class-even="'table-row-even'">
		    <td style="text-align:right">{{$index + 1}}</td>
		    <td style="text-align:left">{{team}}</td><!-- .$value MÅSTE ANVÄNDAS NÄR FIREBASE KOPPLAS PÅ-->
		    <td>{{getRank(team)}}</td><!-- .$value -->
		    <td>{{getScore(team, $index)}}</td><!-- .$value -->
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align:center">{{totalScore}}</td>
		</tr>
		{{getTotalScore(userTable)}}
	</table>
</div>