$main-blue:   #66CCFF;

.centered {
  display: table;
  margin: 0 auto;
}

.form-control {
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-form-btn {
  width: 100%;
  margin: 1% 0% 1% 0%;
  border-radius: 1em 0em 1em 0em;
  border-color: $main-blue;
  color: $main-blue;
  background-color: #FFFFFF;
}

.login-form-btn:hover {
  width: 100%;
  margin: 1% 0% 1% 0%;
  border-radius: 1em 0em 1em 0em;
  color: #FFFFFF;
  background-color: $main-blue;
}

.tables-wrapper {
  display: block;
  margin: 2% 2% 2% 2%;
}

.table-container {
  float: left;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  min-width: auto;
}

.top-row {
  text-align: left;
  color: #FFFFFF;
  background: $main-blue;
}

.table-row {
  text-align: center;
  background-color: #FFFFFF; 
}

.table-row-odd {
  background: #F1F1F1; 
}

.table-row:hover {
  background-color: $main-blue;
  color: #FFFFFF;
  cursor: pointer; 
}

.bottom-row {
  background-color: $main-blue;
  color: #FFFFFF;
}

.ng-enter {
  transition: 1s;
  opacity: 0; }

.ng-enter-stagger {
  transition-delay: 0.1s; 
}

.ng-enter-active {
  opacity: 1; 
}

/*.table-row-odd {
	background-color: #E6EFF2;
}*/
.content-wrapper {
  overflow: auto;
  height: 100%;
  background: #FFFFFF
}


